@import url('https://fonts.googleapis.com/css?family=Playfair+Display:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700');

* {
  font-family: 'Merriweather', serif;
  font-size: 14px;
}

h1, h2, h3 {
  font-family: 'Playfair Display';
}

h1 {
  font-size: 2.18rem;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.64rem;
}

h3 {
  font-size: 1.45rem;
}

h4 {
  font-size: 1.18rem;
}

h2 a {
  font-family: 'Playfair Display SC', serif;
}

.small-caps {
  letter-spacing: 1px;
  font-family: 'Playfair Display SC', serif;
}

p {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.8em;
  padding: 0px 40px;
}

a {
  text-decoration: none;
}

a:visited {
  color: rgb(100, 100, 100);
}

.category-caption {
  text-align: center;
}

.category-caption h2 {
  margin: 20px 0px 5px 0px;
}

.category-caption p {
  margin: 0;
}

.date {
  font-style: italic;
  color: #ccc;
}

.category-caption .date {
  font-size: 11pt;
  margin-bottom: 20px;
}

.project-caption {
  margin-top: 60px;
  margin-bottom: 30px;
}

.project-caption .date {
  font-size: 14pt;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

.home-caption {
  margin: 30px 0px 0px 0px;
  max-width: 600px;
}

.home-caption h1{
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  padding: 0px 40px;
  margin-bottom: 50px;
}

.page-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  padding: 0px 20px;
}

.cat-selector {
  margin-bottom: 40px;
  padding: 0px 20px 10px 20px;
  border: 1px solid rgba(0,0,0,0.25);
  box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
}

.grid-wrapper {
  display: block;
  box-sizing: border-box;
  padding: 30px 30px;
  margin: auto;
}

.grid-text {
  max-width: 800px;
  padding: 0px 0px;
  justify-content: center;
}

.grid-text h1 {
  text-align: center;
}

[class*='col-'] {
  padding-bottom: 30px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

[class*='col-']:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

[class*='col-'] img {
  width: 100%;
  margin: 0px;
}

[class*='col-'] a {
  margin: 0px;
}

.img-circle {
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.25);
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}

.img-circle-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  background-color: #fff;
}

.small-logo {
  color: #000;
  align-self: center;
  font-family: 'Playfair Display';
  letter-spacing: 1px;
  font-size: 16px;
  width: 100%;
  padding: 40px 40px 20px 40px;
  text-align: center;
}

.nav-link a {
  padding: 0px 20px;
  text-decoration: none;
  color: rgb(215, 0 ,0);
}

body {
  margin: 0;
}

@media (min-width: 500px) {
  * {
    font-size: 16px;
  }

  /*.home-caption h1{
    font-size: 5rem;
    line-height: 5rem;
  }*/

  .page-title {
    font-size: 5rem;
    line-height: 5rem;
  }
}

@media (min-width: 617px) {
  .grid-text {
    max-width: 80%;
  }

  .grid-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  [class*='col-'] {
    border: 10px solid rgba(255, 255, 255, 0);
    border-top: 0px;
    flex-grow: 1;
    border-bottom: none;
    padding-bottom: 30px;
    margin-bottom: 0;
  }

  .project-caption {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .col-full-width {
    width: 100%;
  }

  .col-end {
    width:100%;
  }

  .col-1-2 {
    width: 50%;
  }

  .col-1-3 {
    width: 50%;
  }

  .col-1-4 {
    width: 50%;
  }

  .col-1-6 {
    width: 50%;
  }
}

@media (min-width: 900px) {

  /*.home-caption h1{
    font-size: 7rem;
    line-height: normal;
  }*/

  .page-title {
    font-size: 7em;
    line-height: normal;
  }

  .grid-wrapper {
    max-width: 70%;
    min-width: 760px;
    padding: 30px 20px;
  }

  .grid-text {
    max-width: 800px;
  }

  .col-1-3 {
    width: 33%;
  }

  .col-1-4 {
    width: 25%;
  }

  .col-1-6 {
    width:16%;
  }
}
