@import url('https://fonts.googleapis.com/css?family=Playfair+Display:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400i');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700');

html {
  background-color: #fafafa;
}

* {
  font-family: 'Merriweather', serif;
  font-size: 14px;
}

h1, h2, h3 {
  font-family: 'Playfair Display';
}

h1 {
  font-size: 2.18rem;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.45rem;
}

h4 {
  font-size: 1.18rem;
}

h2 a {
  font-family: 'Playfair Display SC', serif;
}

.small-caps {
  letter-spacing: 1px;
  font-family: 'Playfair Display SC', serif;
}

p {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.82em;
  color: rgba(0,0,0,0.87);
}

a {
  text-decoration: none;
}

a:visited {
  color: rgb(100, 100, 100);
}

.footer-text {
  font-size: 14px;
  color: rgba(0,0,0,0.54);
  padding-top: 30px;
}

.icon-button {
  border: none;
  background-color: inherit;
  font-size: 21px;
  color: rgb(190,0,0);
}

#back-button {
  width: 30px;
  padding-right: 15px;
}

#next-button {
  width: 30px;
  padding-left: 15px;
}

#pause-button {
}

#play-button {
  padding-right: 15px;
}

#carousel {
  padding-top: 30px;
}

#pos-human-carousel-controls {
  z-index: 2;
  margin-top: -30px;
}

.carousel-buttons {
  margin-bottom: 20px;
  font-size: 60px;
}

.carousel-controls {
}

#pos-human-go-to-page-controls {

}

.button-secondary {
  border: none;
  background-color: #ddd;
  font-family: sans-serif;
  padding: 10px 15px;
  margin: 10px;
}

select {
  border: none;
  margin: 10px;
  background-color: inherit;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: underline;
}

option {
  font-family: sans-serif;
}

.category-caption {
  text-align: center;
}

.category-caption h2 {
  margin: 30px 0px 5px 0px;
}

.category-caption p {
  margin: 0;
}

.date {
  font-style: italic;
  color: #aaa;
}

.category-caption .date {
  font-size: 11pt;
  margin-bottom: 20px;
}

.project-caption {
  margin-top: 60px;
  margin-bottom: 30px;
}

.project-caption .date {
  font-size: 14pt;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 20px;
}

.subheading {
}

.expand-arrow {
  height: 25px;
  padding-right: 10px;
}

.quote-list {
  list-style: none;
  padding-left: 0px;
  text-align: center;
}

.quote-list-item {
  line-height: 1.8rem;
  margin-bottom: 1.8rem;
  display: block;
}

.divider {
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  margin-bottom: 40px;
}

.home-caption {
  margin: 50px 0px 0px 0px;
  max-width: 600px;
}

.home-caption h1{
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.5rem;
  padding: 0px 40px;
  margin-top: 75px;
  margin-bottom: 50px;
  color: rgb(220, 0 ,0);
}

.page-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4rem;
  padding: 0px 20px;
}

.cat-selector {
  margin-bottom: 40px;
  padding: 0px 20px 10px 20px;
  border: 1px solid rgba(0,0,0,0.25);
  box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
}

.grid-wrapper {
  display: block;
  box-sizing: border-box;
  padding: 30px 30px;
  margin: auto;
}

.grid-text {
  max-width: 800px;
  padding-top: 0px;
  justify-content: center;
}

.grid-text h1 {
  text-align: center;
}

#separation-content {
  display: none;
}

#connection-content {
  display: none;
}

#deceased-content {
  display: none;
}

#possibilities-content {
  display: none;
}

/* -------------------------------------------------

COLUMN AND ROW STYLES

-------------------------------------------------*/


[class*='col-'] {
  padding-bottom: 30px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

[class*='row-'] {
  display:flex;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.flex-top {
  align-items: flex-start;
}

.text-align-center {
  text-align: center;
}

.row-full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

[class*='col-']:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

[class*='col-'] img {
  width: 100%;
  margin: 0px;
}

[class*='col-'] a {
  margin: 0px;
}

.mobile-col-1-2 {
  width: 50%;
}

.wrap {
  flex-wrap: wrap;
}

.img-circle {
  border-radius: 50%;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}

.img-circle-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container {
  /*justify-content: center;*/
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 40px 40px 40px 40px;
}

.small-logo {
  color: #000;
  align-self: center;
  font-family: 'Playfair Display';
  letter-spacing: 1px;
  font-size: 16px;
  width: 100%;
  padding: 40px 40px 20px 40px;
  text-align: center;
}

.nav-link a {
  padding: 0px 20px;
  text-decoration: underline;;
  color: rgb(190, 0 ,0);
}

body {
  margin: 0;
}

.border-top {
  border-top: 1px solid rgba(0,0,0,0.12);
}

@media (min-width: 500px) {
  * {
    font-size: 16px;
  }

  .page-title {
    font-size: 5rem;
    line-height: 5rem;
  }
}

@media (min-width: 617px) {

  .grid-text {
    max-width: 80%;
  }

  .grid-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .project-caption {
    margin-top: 75px;
    margin-bottom: 15px;
  }

  .icon-button {
    font-size: 30px;
  }

  #back-button {
    width: 45px;
    padding-right: 30px;
  }

  #next-button {
    width: 45px;
    padding-left: 30px;
  }

  #play-button {
    padding-right: 30px;
  }

  #pos-human-carousel-controls {
    margin-top: -75px;
  }

  .small-logo {
    width: auto;
    padding: 0px 20px;
  }

  .home-caption h1 {
    margin-top: 0;
  }

  .nav-bar {
    margin-bottom: 0;
  }

  [class*='col-'] {
    border-left: 10px solid rgba(255, 255, 255, 0);
    border-right: 10px solid rgba(255, 255, 255, 0);
    border-bottom: 10px solid rgba(255, 255, 255, 0);
    flex-grow: 1;
    border-bottom: none;
    padding-bottom: 30px;
    margin-bottom: 0;
  }

  .col-full-width {
    width: 100%;

  }

  .col-end {
    width:100%;
  }

  .col-1-2 {
    width: 50%;
  }

  .col-1-3 {
    width: 50%;
  }

  .col-1-4 {
    width: 50%;
  }

  .col-1-6 {
    width: 50%;
  }

  .thumb-small {
    width: 33%;
  }
}

@media (min-width: 900px) {

  #pos-human-carousel-controls {
    margin-top: -125px;
  }

  .project-caption {
    margin-top: 60px;
  }

  .page-title {
    font-size: 7em;
    line-height: normal;
  }

  .grid-wrapper {
    max-width: 70%;
    min-width: 760px;
    padding: 30px 20px;
  }

  .line-length-constrain {
    max-width: 600px;
  }

  .nav-bar {
    justify-content: flex-end;
  }

  .home-caption {
    margin-top: 15px;
  }

  .home-caption h1 {
    margin-bottom: 25px;
  }

  .col-1-3 {
    width: 33%;
  }

  .col-1-4 {
    width: 25%;
  }

  .col-1-6 {
    width:16%;
  }
}
